# MARATONA BEHIND THE CODE 2020

## DESAFIO 7: `TNT`

## Criando a base de dados do desafio

### `1-` Instalando bibliotecas:

In [1]:
#!pip install cloudant # Versão instalada: 2.14.0

### `2-` Importando bibliotecas:

In [1]:
import pickle, os
import pandas as pd
# Pacote para obter dados de banco de dados NoSQL cloudant:
#from cloudant import Cloudant

### `3-` Funções úteis:

In [3]:
# Definição das variáveis de conexão:

walter = {'user': "d9455f35-c7b7-43e4-a173-ec54bb1919ab-bluemix",
          'password': "094b1eb4295a3310501b92b2527217b8a0e97118be68e14f08808189d05a6618",
          'account': "d9455f35-c7b7-43e4-a173-ec54bb1919ab-bluemix",
          'db_name': "trevisan-iot"
         }

rodrigo = {'user': "ad7fd206-cbed-4b75-aa98-a9fd2e05c755-bluemix",
           'password': "a2537397c518fcd38947f38ce8c72c17903732bb61f838c05e5b56a29c9de0aa",
           'account': "ad7fd206-cbed-4b75-aa98-a9fd2e05c755-bluemix",
           'db_name': "desafio7-iot"
           }

In [4]:
# Funcao para carregar os dados do banco de dados NoSQL Cloudant
def obter_dados(user, password, account, db_name):

    client = Cloudant(user, password, account=account, connect=True, auto_renew=True)

    db = client[db_name]

    response = db.all_docs(limit=20000, include_docs=True)

    docs = []
    for r in response["rows"]:
        docs.append(r['doc'])
        
    # Cria um data frame:
    df = pd.DataFrame(data=docs)

    # Elimina as colunas desnecessárias:
    df.drop(labels=['_id', '_rev', 'row'], axis=1, inplace=True)
    
    # Elimina as duplicidades:
    linhas_duplicadas = df.duplicated().sum()
    if (linhas_duplicadas > 0):
        df.drop_duplicates(subset=None, keep='first', inplace=True)

    # Retorna o dataframe criado:
    return df

In [5]:
# ***** Função para salvar (save) um objeto python qualquer em um arquivo "pickle":
#
def pickle_object_save(path=".", file="None", object_name=None, msg=None):
    '''
    Input:
        "path": diretório (path) onde o arquivo será criado.
        "file": nome do arquivo que será armazenado (salvo) o objeto python.
        "object_name": nome do objeto python que será armazenado (salvo) no arquivo.
        "msg": mensagem que será impressa na tela (default é None, ou seja,
               não será impressa uma mensagem).

    Output: None
    '''
    # Código da função:

    # Prepara o nome completo do arquivo piclke que será criado:
    object_file = os.path.join(path, file)
    
    try:
        # Abre o arquivo para o modo escrita (write):
        pickle_out = open(object_file,"wb")
        
        # Faz o 'dump' do objeto ("object_name") e salva os dados no arquivo ("file"):
        pickle.dump(object_name, pickle_out)

        # Fecha o arquivo "pickle":
        pickle_out.close()

        # Verifica se existe uma mensagem para ser impressa na tela:
        if (msg != None):
            # Imprime na tela a mensagem:
            print(msg)

    except FileNotFoundError as error:
        # Erro encontrado na abertura do arquivo:
        print(error)

    except:
        # Erro encontrado ao fazer o "dump" do objeto:
        print("I can not save the '{}' object".format(object_name))
        
        # Fecha o arquivo "pickle":
        pickle_out.close()
####################################################################################################
# ***** Função para carregar (load) um objeto python qualquer, armazenado em um arquivo "pickle":
#
def pickle_object_load (path=".", file="None", msg=None):
    '''
    Input:
        "path": diretório (path) do arquivo que será carregado.
        "file": nome do arquivo que será carregado.
        "msg": mensagem que será impressa na tela (default é None, ou seja,
               não será impressa uma mensagem).

    Output:
        "obj": retorna os dados do "objeto" armazenado no arquivo.
    '''
    # Código da função:

    # Prepara o nome completo do arquivo piclke que será carregado (load):
    object_file = os.path.join(path, file)
    
    try:
        # Abre o arquivo para o modo leitura (read):
        pickle_in = open(object_file,"rb")
        
        # Faz a leitura do arquivo e carrega os dados no objeto ("obj"):
        obj = pickle.load(pickle_in)

        # Fecha o arquivo "pickle":
        pickle_in.close()

        # Verifica se existe uma mensagem para ser impressa na tela:
        if (msg != None):
            # Imprime na tela a mensagem:
            print(msg)

        # Retorna os dados carregados:
        return obj
    
    except FileNotFoundError as error:
        # Erro encontrado na abertura do arquivo:
        print(error)
        # Retorna um valor nulo (None):
        return None

    except ValueError:
        # Erro encontrado na leitura do arquivo:
        print("I can not upload the '{}' file".format(file))
        
        # Fecha o arquivo "pickle":
        pickle_in.close()
        
        # Retorna um valor nulo (None):
        return None

### `4-` Criando a base de dados:

In [12]:
dados = pd.read_csv('./data/captura.csv',index_col = int, names = ['Tempo', 'Estação', 'LAT', 'LONG','Movimentação', 'Original_473', 
                                                    'Original_269', 'Zero','Maça-Verde', 'Tangerina' ,'Citrus', 'Açai-guaraná',
                                                    'Pêssego', 'TARGET'])
dados.head()

KeyError: <class 'int'>

In [6]:
# Criando um dataframe a partir da lista de dados vindo do IoT e gravados no NoSQL do Walter:
df_walter = pd.DataFrame(data=obter_dados(walter['user'], walter['password'], walter['account'], walter['db_name']))
print(df_walter.shape)
df_walter.head()

(10080, 14)

,Tempo,Estação,LAT,LONG,Movimentação,Original_473,Original_269,Zero,Maçã-Verde,Tangerina,Citrus,Açaí-Guaraná,Pêssego,TARGET
0,2018-6-16,Luz,-23.5365,-46.6332,124909,86,54,37,17,6,12,31,15,REABASTECER
1,2018-9-5,Luz,-23.5365,-46.6332,125689,86,25,21,19,43,13,30,32,NORMAL
2,2019-3-4,Luz,-23.5365,-46.6332,124910,43,11,24,32,33,14,23,21,NORMAL
3,2019-5-3,Luz,-23.5365,-46.6332,127059,86,7,21,32,12,37,40,27,NORMAL
4,2019-7-15,Luz,-23.5365,-46.6332,126558,86,35,11,32,19,8,3,25,NORMAL

In [7]:
# Criando um dataframe a partir da lista de dados vindo do IoT e gravados no NoSQL do Rodrigo:
df_rodrigo = pd.DataFrame(data=obter_dados(rodrigo['user'], rodrigo['password'], rodrigo['account'], rodrigo['db_name']))
print(df_rodrigo.shape)
df_rodrigo.head()

(11014, 14)

,Tempo,Estação,LAT,LONG,Movimentação,Original_473,Original_269,Zero,Maçã-Verde,Tangerina,Citrus,Açaí-Guaraná,Pêssego,TARGET
0,2018-8-18,Luz,-23.5365,-46.6332,125065,86,11,12,24,25,10,15,17,NORMAL
1,2018-9-2,Luz,-23.5365,-46.6332,124100,30,51,42,24,13,24,43,1,NORMAL
2,2019-1-16,Luz,-23.5365,-46.6332,124034,86,14,24,42,37,22,23,33,NORMAL
3,2018-2-17,Ana Rosa,-23.5813,-46.6383,66283,77,36,65,28,25,33,30,3,NORMAL
4,2018-5-8,Ana Rosa,-23.5813,-46.6383,67321,66,57,53,9,8,22,8,23,NORMAL

In [8]:
# Concatenando as bases de dados:
df_data = pd.concat([df_walter, df_rodrigo], ignore_index=True)
print(df_data.shape)
df_data.head()

(21094, 14)

,Tempo,Estação,LAT,LONG,Movimentação,Original_473,Original_269,Zero,Maçã-Verde,Tangerina,Citrus,Açaí-Guaraná,Pêssego,TARGET
0,2018-6-16,Luz,-23.5365,-46.6332,124909,86,54,37,17,6,12,31,15,REABASTECER
1,2018-9-5,Luz,-23.5365,-46.6332,125689,86,25,21,19,43,13,30,32,NORMAL
2,2019-3-4,Luz,-23.5365,-46.6332,124910,43,11,24,32,33,14,23,21,NORMAL
3,2019-5-3,Luz,-23.5365,-46.6332,127059,86,7,21,32,12,37,40,27,NORMAL
4,2019-7-15,Luz,-23.5365,-46.6332,126558,86,35,11,32,19,8,3,25,NORMAL

In [9]:
# Verificando se temos algum valor missing:
df_data.isna().sum()

Tempo           0
Estação         0
LAT             0
LONG            0
Movimentação    0
Original_473    0
Original_269    0
Zero            0
Maçã-Verde      0
Tangerina       0
Citrus          0
Açaí-Guaraná    0
Pêssego         0
TARGET          0
dtype: int64

In [10]:
# Removendo as linhas duplicadas:
linhas_duplicadas = df_data.duplicated().sum()
if (linhas_duplicadas > 0):
    df_data.drop_duplicates(subset=None, keep='first', inplace=True)
    
print(df_data.shape)

(14816, 14)

### `5-` Analisando e removendo as datas inválidas:

In [11]:
# Função para obter as datas inválidas:
def obter_datas_invalidas(df, dt):
    contagem = 0
    df_data_inv = pd.DataFrame()

    for data in dt:
        index = (df.loc[:, 'Tempo'] == data)
        contagem += df[index].shape[0]
        df_data_inv = pd.concat([df_data_inv, df[index]], ignore_index=True)
    
    return (contagem, df_data_inv)

In [12]:
# Obtendo as datas inválidas:
datas_inv = ['2016-2-30', '2017-2-30', '2018-2-30', '2019-2-30','2020-2-30']
contagem, df_data_inv = obter_datas_invalidas(df=df_data, dt=datas_inv)
print("Contagem de linhas com datas inválidas: {}".format(contagem))
df_data_inv.head()

Contagem de linhas com datas inválidas: 41

,Tempo,Estação,LAT,LONG,Movimentação,Original_473,Original_269,Zero,Maçã-Verde,Tangerina,Citrus,Açaí-Guaraná,Pêssego,TARGET
0,2018-2-30,Pinheiros,-23.5664,-46.703,79795,8,31,50,30,21,37,7,39,REABASTECER
1,2018-2-30,Moema,-23.5489,-46.6388,17531,30,48,26,43,20,12,11,15,NORMAL
2,2018-2-30,Trianon-Masp,-23.5634,-46.6544,43170,35,22,45,38,28,32,18,21,NORMAL
3,2018-2-30,República,-23.5436,-46.6434,107358,48,65,10,27,14,32,21,26,NORMAL
4,2018-2-30,Butantã,-23.5844,-46.7252,66366,20,43,58,43,39,43,19,19,NORMAL

In [13]:
# Função para remover as datas inválidas:
def remover_datas_invalidas(df, dt):
    contagem = 0
    df_copy = df.copy() # Faz uma cópia do data frame.

    for data in dt:
        flag = list((df_copy.loc[:, 'Tempo'] == data))
        rows_inv = list(df_copy[flag].index)
        contagem += len(rows_inv)
        df_copy.drop(index=rows_inv, inplace=True) # Remove as linhas com datas inválidas.
    
    return (contagem, df_copy.reset_index(drop=True))

In [14]:
# Removendo as datas inválidas:
contagem, df_data = remover_datas_invalidas(df=df_data, dt=datas_inv)
print("Contagem de linhas removidas com datas inválidas: {}".format(contagem))
print(df_data.shape)
df_data.head()

Contagem de linhas removidas com datas inválidas: 41
(14775, 14)

,Tempo,Estação,LAT,LONG,Movimentação,Original_473,Original_269,Zero,Maçã-Verde,Tangerina,Citrus,Açaí-Guaraná,Pêssego,TARGET
0,2018-6-16,Luz,-23.5365,-46.6332,124909,86,54,37,17,6,12,31,15,REABASTECER
1,2018-9-5,Luz,-23.5365,-46.6332,125689,86,25,21,19,43,13,30,32,NORMAL
2,2019-3-4,Luz,-23.5365,-46.6332,124910,43,11,24,32,33,14,23,21,NORMAL
3,2019-5-3,Luz,-23.5365,-46.6332,127059,86,7,21,32,12,37,40,27,NORMAL
4,2019-7-15,Luz,-23.5365,-46.6332,126558,86,35,11,32,19,8,3,25,NORMAL

In [15]:
# Verificando se as datas inválidas foram removidas:
datas_inv = ['2016-2-30', '2017-2-30', '2018-2-30', '2019-2-30','2020-2-30']
contagem, df_data_inv = obter_datas_invalidas(df=df_data, dt=datas_inv)
print("Contagem de linhas com datas inválidas: {}".format(contagem))
df_data_inv.head()

Contagem de linhas com datas inválidas: 0

Empty DataFrame
Columns: [Tempo, Estação, LAT, LONG, Movimentação, Original_473, Original_269, Zero, Maçã-Verde, Tangerina, Citrus, Açaí-Guaraná, Pêssego, TARGET]
Index: []

**Podemos observar que as datas inválidas foram removidas do dataset!**

In [16]:
# Resumo do data frame final:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14775 entries, 0 to 14774
Data columns (total 14 columns):
Tempo           14775 non-null object
Estação         14775 non-null object
LAT             14775 non-null object
LONG            14775 non-null object
Movimentação    14775 non-null object
Original_473    14775 non-null object
Original_269    14775 non-null object
Zero            14775 non-null object
Maçã-Verde      14775 non-null object
Tangerina       14775 non-null object
Citrus          14775 non-null object
Açaí-Guaraná    14775 non-null object
Pêssego         14775 non-null object
TARGET          14775 non-null object
dtypes: object(14)
memory usage: 1.6+ MB

### `6-` Salvando a base de dados:

In [17]:
# Salvando arquivo ".csv":
df_data.to_csv(path_or_buf="train_dataset_tnt.csv",index=False)

In [18]:
# Salvando arquivo no formato "pickle":
pickle_object_save(path=".", file="train_dataset_tnt.pkl", object_name=df_data, msg=None)

# FIM